@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Instrument+Serif:ital@0;1&display=swap');


*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
        --signal-warning-default: #ffc845;
    --background-donations: #0d0d33;
    --background-footer: #012d61;
        --hover: #1371d5;
        --primary-default: #080808;
}

html{
    scroll-behavior: smooth;
}

body{
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

.headerNav{
    display: flex;
    padding: 13px 25px;
    justify-content: space-between;
    align-items: center;
}

.authWrapper > i{
    display: none;
}

.logo{
    display: flex;
    align-items: center;
}

.linkWrapper{
    display: flex;
    gap: 30px;
    margin-left: -100px;
    font-weight: 100;
    font-size: .9rem;
}


.link{
    display: flex;
    align-items: end;
    gap: 7px;
    border-bottom: 2px solid transparent;
    padding: 5px 0px;
    
}

.link a{
       color: var(--primary-default); 
    text-decoration: none;
}

.link:hover{
    border-bottom: 2px solid var(--hover);
        color: var(--hover);
}

.link a:hover{
    color: var(--hover);
}

.authWrapper{
    display: flex;
    gap: 20px;
        font-weight: 100;
    font-size: 1rem;
}

.authWrapper i{
    font-size: 20px;
}

.auth{
    display: flex;
    align-items: center;
    gap: 6px;
}

.auth a{
    color: var(--primary-default);
    text-decoration: none;
}

.heroWrapper{
    position: relative;
}

.heroSection{
      background-image: 
    linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)), 
    url(/Assets/ChatGPT\ Image\ Jun\ 23\,\ 2026\,\ 02_48_50\ AM.png);
    background-size: 100vw 600px;
    background-repeat: no-repeat;
    display: flex;
    height: 590px;
    align-items: end;
    width: 100vw;
}


.textWrapper{
    color: white;
    padding: 30px 50px;
}

.textWrapper h1{
      font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style:normal;
    font-size: clamp(3rem, 5vw, 6rem);
    margin-bottom: 40px;
}

.cta{
    display: flex;
    gap: 40px;
}

.cta a{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
}

.cta li:first-child a:hover{
    text-decoration: underline;
}

.cta li:last-child a{
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px 25px;
}

.cta li:last-child a:hover{
    color: #e1f0ff;
    border: 2px solid #e1f0ff;
    border-radius: 40px;
    padding: 10px 25px;
}

.warningWrapper{
    background-color: var(--signal-warning-default);
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
    font-weight: 100;
    font-size: .9rem;
}

.warningWrapper a{
    color: var(--primary-default);
}

.warningWrapper i{
    font-size: 20px;
}

.diseaseCondition{
    display: flex;
    justify-content: center;
    padding: 70px 50px;
    gap: 40px;
    width: 100%;
}

.findDisease{
    height: 200px;
    max-width: 40vw;
}

.find{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 6px;
    width: 100%;
    margin-top: 40px;
    justify-content: flex-start;
}

.find li a{
    color: var(--background-footer);
    border: 2px solid  #acc8e4;
    border-radius: 50%;
    padding: 12px 17px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-weight: bolder;
}

.find a:hover{
    border: 2px solid var(--background-footer);
}

.searchDisease{
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    gap: 6px;
}

.searchDisease h4{
    color: rgba(0, 0, 0, 0.692);
}

.subSearch{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.subSearch i{
    transform: translateX(17px);
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.692);
}

.subSearch #search{
    width: 100%;
    border-radius: 25px;
    padding: 13px 50px;
    border: 1px solid rgba(0, 0, 0, 0.692);
    margin-left: -23px;
    font-size: 1.2rem;
}

.subSearch #search::placeholder {
    padding-left: 4px;
    font-size: 1.2rem;
}

.subSearch #search:focus{
    outline-width: 2px;
    outline-offset: 2px;
    outline-style: dashed;
    outline-color: #1371d5;
}

.trustWrapper{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 150px;
    width: 100%;
    gap: 100px;
}

.imageWrap img{
    width: 35vw;
    height: auto;
    border-radius: 15px;
}

.imageWrapper{
order: -1;
}


.imageWrapper img{
    width: 35vw;
    height: auto;
    border-radius: 15px;
}

.trustText{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    max-width: 60vw;
    max-height: 115vh;
    gap: 0.8rem;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
}


.trustText h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style:normal ;
  font-size: clamp(2rem, 3vw, 3rem);
}

.trustText h4 span{
    font-weight: 100;
}

.trustText h4{
    font-weight: bolder; 
    line-height: 25px;
}

.trustText h4 a{
    color: #0057b8;
    text-decoration-thickness: 2px ;
}

.trustText h4 a:hover {
    text-decoration:none ;
}

.buttonCTA{
    margin-top: 20px;
}

.buttonCTA a{
    color: #0057b8;
        border: 2px solid #0057b8;
    border-radius: 40px;
    padding: 15px 25px;
    text-decoration: none;
}

.buttonCTA a:hover{
        color: #2e7fdb;
        border: 2px solid #2e7fdb;
}

.locationWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 30px 30px;
    align-self: center;
    width: 100%;
}

.locationText{
    display: flex;
    align-items: center;
}

.location{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mayoClinic {
  position: relative;
  width: 30vw;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.mayoClinic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mayoClinic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.74) 80%);
  z-index: 1;
}

.mayoClinic .clinicCTA {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #ffffff;
  z-index: 2;
}

.clinicCTA a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.featuredWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    column-gap: 20px;

}

.featuredLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 62vw;
    column-gap: 20px;
}

.featuredCare{
    margin-bottom: 20px;
}

.featuredCare h1{
    font-family: 'Times New Roman', Times, serif;
}

.fLink{
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    color: #1361d5;;
    border-top: 1px solid rgba(128, 128, 128, 0.418);
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    border-collapse: collapse;
}

.fLink a{
    color: #1361d5;
    text-decoration: none;
    font-size: 1.15rem;
}

.fLink a:hover{
    text-decoration: underline;
    color: #1361d5;
    text-decoration-thickness: 2px;

}

.giveToday {
    background-color: #0d0d33;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 40px;
    padding-right: 200px;
    gap: 20px;
    justify-content: center;
}

.givingCharity{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 70vw;
    column-gap: 100px;
}

.giveToday img{
    width: 20vw;
    height: auto;
}

.charityCTA{
    padding-top: 30px;
}

.charity h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.6rem;
    justify-self: flex-start;
}

.charity h4{
    margin-top: 20px;
}


.charityCTA li a{
        background-color: #0057b8;
color: white;
    border-radius: 40px;
    padding: 15px 100px;
    text-decoration: none;
}

.charityCTA li a:hover{
    background-color: #525ce9;
}

.exploreLink{
    padding: 60px;
    background-color: #012d61;
}

.exploreWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 40px;
    padding-bottom: 30px;
    column-gap: 6vw;
}

.exploreWrapper a{
    color: white;
    text-decoration: none;
}

.findLink{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.linkMain{
    border: 2px solid rgba(255, 255, 255, 0.39);
    display: flex;
    padding: 10px 20px;
    border-radius: 20px;
    gap: 15px;
    align-items: center;
}

.linkMain:hover{
    border: 2px solid white;
}

.linkMain > i{
    color: white;
    font-size: 35px;
}

.linkMain li{
    display: inline-flex;
    gap: 40px;
}

.linkHead{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 1.1rem;
    padding-bottom: 10px;
    padding-top: 15px;
}

.medicalProfessionals .linkHead:nth-child(1), .researcherWrapper .linkHead:nth-child(1) {
    padding-top: 0px;
}

.linkHead i{
    color: white;
}

.followWrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.479);
}

.followWrapper p{
    padding-bottom: 20px;
}

.socials li{
    display: inline-block;
    color: white;
    margin-inline: 5px;
}

.socials a{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.342);
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.socials a:hover{
    border: 2px solid rgb(255, 255, 255);
}

.download{
    display: flex;
    gap: 20px;
}

.termsCon{
    background-color: #e1f0ff;
    padding: 50px;
}

.footerLinks{
    margin-bottom: 70px;
}

.footerLinks li{
    display: inline-block;
    margin-inline: 10px;
}

.footerLinks li a{
    color: black;
    text-decoration: none;
    font-size: 0.95rem;
    line-height: 30px;
}

.footerLinks li a:hover{
    color: var(--hover);
    text-decoration: underline;
}

.tradeMark{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.212);
    font-size: 0.95rem;
}

.tradeMark p:first-child{
    color: grey;
}

.tradeMark p:last-child a:first-child{
    color: black;
}

.tradeMark p:last-child a:first-child:hover {
    text-decoration: none;
}


@media (max-width:1300px) {
    .linkWrapper{
    display: flex;
    gap: 30px;
    margin-left: -20px;
    font-weight: 100;
    font-size: .9rem;
}

.authWrapper i{
    display: block;
}
}

@media (max-width:1180px) {
    .linkWrapper{
    display: none;
}

.trustWrapper{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 100px;
    width: 100%;
    gap: 30px;
}
}

@media (max-width:870px) {
    .diseaseCondition{
    display: flex;
    flex-direction: column;
}

.trustWrapper{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    gap: 15px;
}

.locationWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 30px 30px;
    padding-left: 45px;
    align-self: center;
    width: 100%;
}

.mayoClinic {
  position: relative;
  width: 40vw;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.featuredWrapper{
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
}

.featuredLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: 20px;
}

.heroSection{
      background-image: 
    linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)), 
    url(/Assets/ChatGPT\ Image\ Jun\ 23\,\ 2026\,\ 02_48_50\ AM.png);
    background-size:cover ;
    background-position: -150px 0px;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    width: 100vw;
}

.giveToday {
    background-color: #0d0d33;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 40px;
    gap: 20px;
    justify-content: center;
}

.givingCharity{
    display: grid;
    grid-template-columns: 1fr;
}

.tradeMark p:last-child{
    min-width: 150px;
}
}


@media (max-width:528px) {
.auth{
    display: none;
}

.cta{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.cta a{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
}

.textWrapper{
    color: white;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.textWrapper h1{
    margin-bottom: 10px;
}

.cta li:last-child a{
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px 60px;
}


.trustWrapper{
display: block;
padding-left: 0;
padding-right: 0;
}

.imageWrap img{
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.imageWrapper img{
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.imageWrapper{
    order: 1;
}

.trustText{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    gap: 0.8rem;
    max-width: 100%;
    margin-bottom: 50px;
}


.trustText h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style:normal ;
  font-size: clamp(0.5rem, 7vw, 3rem);
}

.trustText{
        font-size: clamp(0.8rem, 4vw, 1rem);
}

.trustText h4 span{
    font-weight: 100;
}

.trustText h4{
    font-weight: bolder; 
}

.locationWrapper{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    align-self: center;
    width: 100%;
}

.mayoClinic {
  position: relative;
  width: 80vw;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}


.locationText{
    margin-bottom: 20px;
}

.location h1{
    font-size: clamp();
}

.featuredLinks{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    column-gap: 20px;
}

.giveToday {
    background-color: #0d0d33;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px 40px;
    justify-content: center;
}

.giveToday img{
    display: none;
}


.exploreWrapper{
    display: grid;
    grid-template-columns: 1fr;
    line-height: 40px;
    padding-bottom: 15px;
}

.followWrapper{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.479);
}

.socials{
    margin-left: -10px;
}

.socials li{
    margin-inline: 2px;
}
.playStore{
    margin-top: 20px;
}

.footerLinks{
    margin-bottom: 20px;
}

.footerLinks li{
    display: block;
    margin-inline: 10px;
}

.footerLinks li a{
    color: black;
    text-decoration: none;
    font-size: 0.95rem;
    line-height: 30px;
}


.tradeMark{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding-top: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.212);
    font-size: 0.95rem;
    gap: 20px;
}
}
